<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentDao" class="ru.strukov.testing.dao.StudentDaoImpl"/>
    <bean id="studentService" class="ru.strukov.testing.service.StudentServiceImpl">
        <constructor-arg name="studentDao" ref="studentDao"/>
    </bean>
    <bean id="TestQuestionDao" class="ru.strukov.testing.dao.TestQuestionDaoImpl">
        <constructor-arg name="resource" value="/qna.csv"/>
    </bean>
    <bean id="testQuestionService" class="ru.strukov.testing.service.TestQuestionServiceImpl">
        <constructor-arg name="testQuestionDao" ref="TestQuestionDao" />
        <constructor-arg name="studentService" ref="studentService" />
    </bean>

</beans>