<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Author detail</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">Автор</h5>
                <div class="card-body">
                    <h3 class="card-title"
                        th:text="${author.firstName} + ' ' + ${author.middleName} + ' ' + ${author.lastName}">Author
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>