<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Error 404</title>
</head>
<body>
<div class="container">
    <h2>Произошла неизвестная ошибка</h2>
    <div>Ваш звонок очень важен для нас! Пожалуйста, оставайтесь на линии</div>
    <div>Для зачистки проблемы мы отправили специально обученную зондер-комманду. Если увидите их, покажите им это
    сообщение:</div>
    <pre th:text="${message}">Message</pre>
</div>

</body>
</html>